<div class="row">
    <div class="col">
        <a class="float-right" [routerLink]="['/estabelecimentos', 0]" mat-raised-button color='primary'>Novo
            Estabelecimento</a>
    </div>
</div>

<div class=" table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults || isError">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="error" *ngIf="isError">
            Request error!
        </div>
    </div>

    <div class="table-intern-container">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let data">{{ data.nome }}</td>
            </ng-container>

            <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef> Endereço </th>
                <td mat-cell *matCellDef="let data">{{ data.endereco }}</td>
            </ng-container>

            <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let data">{{ data.telefone }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> E-mail </th>
                <td mat-cell *matCellDef="let data">{{ data.email }}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let data">
                    <a mat-icon-button [routerLink]="['/estabelecimentos', data.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button (click)="delete(data.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>