<div class="row">
    <div class="col">
        <a *ngIf="login.perfil == 3" class="float-right" [routerLink]="['/pedidos', 0]" mat-raised-button
            color='primary'>Novo
            Pedido</a>
    </div>
</div>

<div class=" table-container mat-elevation-z8">
    <div class="table-intern-container m-3">
        <div class="row">
            <div class="col-2">
                <mat-label>Avaliação</mat-label>
            </div>
            <div class="col-2">
                <mat-label>Quantidade</mat-label>
            </div>
            <div class="col-7">
                <mat-label>Comentários</mat-label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-label>1</mat-label>
            </div>
            <div class="col-2">
                <mat-label>{{ qntNota1 }}</mat-label>
            </div>
            <div class="col">
                <p *ngFor="let c of comentsNota1">{{ c }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-label>2</mat-label>
            </div>
            <div class="col-2">
                <mat-label>{{ qntNota2 }}</mat-label>
            </div>
            <div class="col">
                <p *ngFor="let c of comentsNota2">{{ c }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-label>3</mat-label>
            </div>
            <div class="col-2">
                <mat-label>{{ qntNota3 }}</mat-label>
            </div>
            <div class="col">
                <p *ngFor="let c of comentsNota3">{{ c }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-label>4</mat-label>
            </div>
            <div class="col-2">
                <mat-label>{{ qntNota4 }}</mat-label>
            </div>
            <div class="col">
                <p *ngFor="let c of comentsNota4">{{ c }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <mat-label>5</mat-label>
            </div>
            <div class="col-2">
                <mat-label>{{ qntNota5 }}</mat-label>
            </div>
            <div class="col">
                <p *ngFor="let c of comentsNota5">{{ c }}</p>
            </div>
        </div>
    </div>
</div>