<mat-toolbar>
    <mat-icon>home</mat-icon>
    <mat-label>FeiraON</mat-label>
    <button mat-icon-button style="position: absolute; right: 10px" (click)="logout()">
        <mat-icon>keyboard_tab</mat-icon>
    </button>
</mat-toolbar>