<div class="ml-5">
    <div class="row">
        <div class="col m-3">
            <mat-label>{{acao}} produto</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div *ngIf="login.perfil === 1" class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Estabelecimento</mat-label>
                            <mat-select name="estabelecimento" [(ngModel)]="produto.estabelecimentoId" required>
                                <mat-option *ngFor="let e of estabelecimentos" [value]="e.id">{{e.nome}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" name="nome" [(ngModel)]="produto.nome" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Categoria</mat-label>
                            <input type="text" matInput placeholder="Categoria" name="categoria"
                                [(ngModel)]="produto.categoria" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Subcategoria</mat-label>
                            <input matInput placeholder="Subcategoria" name="subcategoria"
                                [(ngModel)]="produto.subcategoria" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Quantidade</mat-label>
                            <input matInput placeholder="Quantidade" name="quantidade" [(ngModel)]="produto.quantidade"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Tamanho</mat-label>
                            <input matInput placeholder="Tamanho" name="tamanho" [(ngModel)]="produto.tamanho" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Preço</mat-label>
                            <input matInput placeholder="Preço" name="preco" type="number" [(ngModel)]="produto.preco"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Foto</p>
                        <input name="foto" accept="image/*" type="file" (change)="foto($event)">
                    </div>
                    <div class="col foto" [style.background-image]="'url(' + produto.foto + ')'">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <button type="submit" mat-raised-button>{{acao}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>