<div class="ml-5">
    <div class="row">
        <div class="col m-3">
            <mat-label>Quero ser vendedor!</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div class="row">
                    <div class="col m-3">
                        <mat-label>Informações sobre o estabelecimento</mat-label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" name="nome" [(ngModel)]="estabelecimento.nome" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput placeholder="E-mail" name="email"
                                [(ngModel)]="estabelecimento.email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <mat-form-field>
                            <mat-label>Endereço</mat-label>
                            <input matInput placeholder="Endereço" name="endereco"
                                [(ngModel)]="estabelecimento.endereco" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Telefone" name="telefone" mask="(00) 0 0000 0000"
                                [(ngModel)]="estabelecimento.telefone" required>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col m-3">
                        <mat-label>Informações sobre o usuário</mat-label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Login</mat-label>
                            <input matInput placeholder="Login" name="login" [(ngModel)]="usuario.login" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" name="nome" [(ngModel)]="usuario.nome" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>CPF</mat-label>
                            <input matInput placeholder="CPF" name="cpf" mask="000.000.000-00" [(ngModel)]="usuario.cpf"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>RG</mat-label>
                            <input matInput placeholder="RG" name="rg" [(ngModel)]="usuario.rg" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput placeholder="E-mail" name="email" [(ngModel)]="usuario.email"
                                required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Telefone" name="telefone" mask="(00) 0 0000 0000"
                                [(ngModel)]="usuario.telefone" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <mat-form-field>
                            <mat-label>Endereço</mat-label>
                            <input matInput placeholder="Endereço" name="endereco" [(ngModel)]="usuario.endereco"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Senha</mat-label>
                            <input type="password" matInput placeholder="Senha" minlength="6" name="senha"
                                [(ngModel)]="usuario.senha" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <button type="submit" mat-raised-button>Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>