<div class=" table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults || isError">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="error" *ngIf="isError">
            Request error!
        </div>
    </div>

    <div class="table-intern-container">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let data">{{ data.nome }}</td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let data">{{ data.categoria }}</td>
            </ng-container>

            <ng-container matColumnDef="subcategoria">
                <th mat-header-cell *matHeaderCellDef> Subcategoria </th>
                <td mat-cell *matCellDef="let data">{{ data.subcategoria }}</td>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                <td mat-cell *matCellDef="let data">{{ data.quantidade }}</td>
            </ng-container>

            <ng-container matColumnDef="tamanho">
                <th mat-header-cell *matHeaderCellDef> Tamanho </th>
                <td mat-cell *matCellDef="let data">{{ data.tamanho }}</td>
            </ng-container>

            <ng-container matColumnDef="precoU">
                <th mat-header-cell *matHeaderCellDef> Preço Unitário </th>
                <td mat-cell *matCellDef="let data">{{ data.precoU | currency: 'BRL'}}</td>
            </ng-container>

            <ng-container matColumnDef="precoT">
                <th mat-header-cell *matHeaderCellDef> Preço Total </th>
                <td mat-cell *matCellDef="let data">{{ data.precoT | currency: 'BRL'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-label>Somatório do estoque: {{ somatorio | currency: 'BRL'}}</mat-label>
    </div>
</div>