<div class="ml-5">
    <div class="row">
        <div class="col m-3">
            <mat-label>{{acao}} estabelecimento</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Nome</mat-label>
                            <input matInput placeholder="Nome" name="nome" [(ngModel)]="estabelecimento.nome" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>E-mail</mat-label>
                            <input type="email" matInput placeholder="E-mail" name="email"
                                [(ngModel)]="estabelecimento.email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <mat-form-field>
                            <mat-label>Endereço</mat-label>
                            <input matInput placeholder="Endereço" name="endereco"
                                [(ngModel)]="estabelecimento.endereco" required>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Telefone</mat-label>
                            <input matInput placeholder="Telefone" name="telefone" mask="(00) 0 0000 0000"
                                [(ngModel)]="estabelecimento.telefone" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <button type="submit" mat-raised-button>{{acao}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>