/* Column Widths */
.mat-column-data {
    max-width: 100px;
}
  
.mat-column-endereco {
    max-width: 100px;
}

.mat-column-status {
    max-width: 100px;
}

.mat-column-estabelecimento {
    max-width: 100px;
}

.mat-column-actions {
    max-width: 40px;
}
  