<div class="row">
    <div class="col">
        <a *ngIf="login.perfil == 3" class="float-right" [routerLink]="['/pedidos', 0]" mat-raised-button
            color='primary'>Novo
            Pedido</a>
    </div>
</div>

<div class=" table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults || isError">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="error" *ngIf="isError">
            Request error!
        </div>
    </div>

    <div class="table-intern-container">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let data">{{ data.data | date}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let data">{{ getValueEnumPedidoStatus(data.status) }}</td>
            </ng-container>

            <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef> Endereço </th>
                <td mat-cell *matCellDef="let data">{{ data.endereco }}</td>
            </ng-container>

            <ng-container matColumnDef="estabelecimento">
                <th mat-header-cell *matHeaderCellDef> Estabelecimento </th>
                <td mat-cell *matCellDef="let data">{{ data.estabelecimento.nome }}</td>
            </ng-container>

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let data">{{ data.usuario.nome }}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let data">
                    <a mat-icon-button [routerLink]="['/pedidos', data.id]">
                        <mat-icon>search</mat-icon>
                    </a>
                    <button *ngIf="data.status == 1 && login.perfil == 2" mat-icon-button (click)="update(data.id, 2)">
                        <mat-icon>check</mat-icon>
                    </button>
                    <button *ngIf="data.status == 1" mat-icon-button (click)="update(data.id, 5)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button *ngIf="data.status == 2 && login.perfil == 2" mat-icon-button (click)="update(data.id, 3)">
                        <mat-icon>send</mat-icon>
                    </button>
                    <button *ngIf="data.status == 3 && login.perfil == 2" mat-icon-button (click)="update(data.id, 4)">
                        <mat-icon>done_all</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>