/* Column Widths */
.mat-column-nome {
    max-width: 100px;
}
  
.mat-column-endereco {
    max-width: 100px;
}

.mat-column-telefone {
    max-width: 100px;
}

.mat-column-email {
    max-width: 100px;
}

.mat-column-actions {
    max-width: 40px;
}
  