<app-toolbar></app-toolbar>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened disableClose>
        <mat-list>
            <mat-nav-list>
                <a *ngIf="perfil == 1" mat-list-item routerLink="/estabelecimentos">
                    <mat-icon>local_play</mat-icon>
                    <mat-label class="ml-1">Estabelecimentos</mat-label>
                </a>
                <a *ngIf="perfil == 1" mat-list-item routerLink="/usuarios">
                    <mat-icon>person</mat-icon>
                    <mat-label class="ml-1">Usuários</mat-label>
                </a>
                <a *ngIf="perfil == 1 || perfil == 2" mat-list-item routerLink="/produtos">
                    <mat-icon>local_offer</mat-icon>
                    <mat-label class="ml-1">Produtos</mat-label>
                </a>
                <a *ngIf="perfil == 1 || perfil == 2 || perfil == 3" mat-list-item routerLink="/pedidos">
                    <mat-icon>room_service</mat-icon>
                    <mat-label class="ml-1">Pedidos</mat-label>
                </a>
                <a *ngIf="perfil == 1 || perfil == 2" mat-list-item routerLink="/estoques">
                    <mat-icon>archive</mat-icon>
                    <mat-label class="ml-1">Estoques</mat-label>
                </a>
                <a *ngIf="perfil == 2" mat-list-item routerLink="/relatorio-avaliacao">
                    <mat-icon>stars</mat-icon>
                    <mat-label class="ml-1">Rel. Avaliação</mat-label>
                </a>
                <a *ngIf="perfil == 2" mat-list-item routerLink="/relatorio-estoque">
                    <mat-icon>assignment</mat-icon>
                    <mat-label class="ml-1">Rel. Estoque</mat-label>
                </a>
                <a *ngIf="perfil == 2" mat-list-item routerLink="/relatorio-venda">
                    <mat-icon>assessment</mat-icon>
                    <mat-label class="ml-1">Rel. Venda</mat-label>
                </a>
            </mat-nav-list>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>