<div class=" table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults || isError">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="error" *ngIf="isError">
            Request error!
        </div>
    </div>

    <div class="table-intern-container">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let data">{{ data.data | date }}</td>
            </ng-container>

            <ng-container matColumnDef="produto">
                <th mat-header-cell *matHeaderCellDef> Produto </th>
                <td mat-cell *matCellDef="let data">{{ data.produto }}</td>
            </ng-container>

            <ng-container matColumnDef="tamanho">
                <th mat-header-cell *matHeaderCellDef> Tamanho </th>
                <td mat-cell *matCellDef="let data">{{ data.tamanho }}</td>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                <td mat-cell *matCellDef="let data">{{ data.quantidade }}</td>
            </ng-container>

            <ng-container matColumnDef="precoU">
                <th mat-header-cell *matHeaderCellDef> Preço Unitário </th>
                <td mat-cell *matCellDef="let data">{{ data.precoU | currency: 'BRL'}}</td>
            </ng-container>

            <ng-container matColumnDef="precoT">
                <th mat-header-cell *matHeaderCellDef> Preço Total </th>
                <td mat-cell *matCellDef="let data">{{ data.precoT | currency: 'BRL'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-label>Somatório das vendas: {{ somatorio | currency: 'BRL'}}</mat-label>
    </div>
</div>