<div class="row">
    <div class="col">
        <a class="float-right" [routerLink]="['/produtos', 0]" mat-raised-button color='primary'>Novo
            Produto</a>
    </div>
</div>

<div class=" table-container mat-elevation-z8">
    <div class="loading-shade" *ngIf="isLoadingResults || isError">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="error" *ngIf="isError">
            Request error!
        </div>
    </div>

    <div class="table-intern-container">
        <table mat-table [dataSource]="data">

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let data">{{ data.nome }}</td>
            </ng-container>

            <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let data">{{ data.categoria }}</td>
            </ng-container>

            <ng-container matColumnDef="subcategoria">
                <th mat-header-cell *matHeaderCellDef> Subcategoria </th>
                <td mat-cell *matCellDef="let data">{{ data.subcategoria }}</td>
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                <td mat-cell *matCellDef="let data">{{ data.quantidade }}</td>
            </ng-container>

            <ng-container matColumnDef="tamanho">
                <th mat-header-cell *matHeaderCellDef> Tamanho </th>
                <td mat-cell *matCellDef="let data">{{ data.tamanho }}</td>
            </ng-container>

            <ng-container matColumnDef="preco">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let data">{{ data.preco }}</td>
            </ng-container>

            <ng-container matColumnDef="estabelecimento">
                <th mat-header-cell *matHeaderCellDef> Estabelecimento </th>
                <td mat-cell *matCellDef="let data">{{ data.estabelecimento.nome }}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let data">
                    <a mat-icon-button [routerLink]="['/produtos', data.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <!-- <button mat-icon-button (click)="foto(data.id)">
                        <mat-icon>photo</mat-icon>
                    </button> -->
                    <button mat-icon-button (click)="delete(data.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>