/* Column Widths */
.mat-column-nome {
    max-width: 100px;
}
  
.mat-column-categoria {
    max-width: 100px;
}

.mat-column-subcategoria {
    max-width: 100px;
}

.mat-column-quantidade {
    max-width: 100px;
}

.mat-column-tamanho {
    max-width: 100px;
}

.mat-column-preco {
    max-width: 100px;
}

.mat-column-estabelecimento {
    max-width: 100px;
}

.mat-column-actions {
    max-width: 40px;
}
  