<div class="ml-5">
    <div class="row">
        <div class="col m-3">
            <mat-label>Realizar pedido</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Estabelecimento</mat-label>
                            <mat-select [disabled]="pedido.id" name="estabelecimento"
                                [(ngModel)]="pedido.estabelecimentoId" (selectionChange)="onChangeEstab()">
                                <mat-option *ngFor="let e of estabelecimentos" [value]="e.id">{{e.nome}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row" *ngIf="!pedido.id">
                    <div class="col-5">
                        <mat-form-field>
                            <mat-label>Produto</mat-label>
                            <mat-select name="produto" [(ngModel)]="produtoId" (selectionChange)="onChangeProd()">
                                <mat-option *ngFor="let p of produtos" [value]="p.id">
                                    {{p.nome}}, {{p.categoria}}, {{p.subcategoria}},
                                    {{p.quantidade}}{{p.tamanho}}={{p.preco | currency:'BRL'}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Quantidade</mat-label>
                            <input type="number" matInput placeholder="Quantidade" name="quantidade"
                                [(ngModel)]="quantidade">
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <button (click)="adicionar()" type="button" mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <ng-container *ngIf="produtoId">
                    <div class="row">
                        <div class="col">
                            <mat-label>Produtos da mesma categoria deste estabelecimento:</mat-label>
                        </div>
                    </div>
                    <ng-container *ngFor="let p of prodsCat; index as i">
                        <div *ngIf="p.id != produtoId" class="row">
                            <div class="col">
                                {{p.nome}}, {{p.categoria}}, {{p.subcategoria}},
                                {{p.quantidade}}{{p.tamanho}}={{p.preco | currency:'BRL'}}
                            </div>
                        </div>
                    </ng-container>
                    <div class="row">
                        <div class="col">
                            <mat-label>Produtos da mesma subcategoria de outros estabelecimentos:</mat-label>
                        </div>
                    </div>
                    <ng-container *ngFor="let p of prodsSubCat; index as i">
                        <div *ngIf="p.estabelecimentoId != pedido.estabelecimentoId" class="row">
                            <div class="col">
                                {{p.nome}}, {{p.categoria}}, {{p.subcategoria}},
                                {{p.quantidade}}{{p.tamanho}}={{p.preco | currency:'BRL'}}
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <mat-divider></mat-divider>
                <div class="row">
                    <div class="col">
                        <mat-label>Lista de produtos</mat-label>
                    </div>
                </div>
                <ng-container *ngFor="let p of pedido.produtos; index as i">
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field>
                                <input matInput disabled name="produto_{{i}}" [(ngModel)]="p.produto.nome">
                            </mat-form-field>
                        </div>
                        <div class="col-3 ml-1">
                            <mat-form-field>
                                <input type="text" matInput disabled name="quantidade_{{i}}" [(ngModel)]="p.quantidade">
                            </mat-form-field>
                        </div>
                        <div class="col ml-1">
                            <button *ngIf="!pedido.id" type="button" mat-icon-button (click)="delete(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <mat-divider></mat-divider>
                <div class="row mt-2">
                    <div class="col-4">
                        <mat-form-field>
                            <mat-label>Endereço</mat-label>
                            <input [disabled]="pedido.id" matInput placeholder="Endereco" name="endereco"
                                [(ngModel)]="pedido.endereco" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-label>Valor total do pedido: {{valorTotal | currency:'BRL'}}</mat-label>
                    </div>
                </div>
                <div *ngIf="!pedido.id" class="row mt-2">
                    <div class="col-2">
                        <button type="submit" mat-raised-button>Pedir</button>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <ng-container *ngIf="pedido.id">
                    <div class="row mt-4">
                        <div class="col-3">
                            <mat-label>Avaliar este pedido</mat-label>
                        </div>
                        <div class="col-3">
                            <mat-form-field>
                                <mat-label>Avaliação</mat-label>
                                <mat-select [disabled]="login.perfil != 3" name="avaliacao"
                                    [(ngModel)]="pedido.avaliacao">
                                    <mat-option [value]="1">1</mat-option>
                                    <mat-option [value]="2">2</mat-option>
                                    <mat-option [value]="3">3</mat-option>
                                    <mat-option [value]="4">4</mat-option>
                                    <mat-option [value]="5">5</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field>
                                <mat-label>Comentário</mat-label>
                                <input [disabled]="login.perfil != 3" matInput placeholder="Comentário"
                                    name="comentario" [(ngModel)]="pedido.comentario">
                            </mat-form-field>
                        </div>
                    </div>
                    <div *ngIf="login.perfil == 3" class="row mt-2">
                        <div class="col-2">
                            <button type="butto" (click)="avaliar()" mat-raised-button>Avaliar</button>
                        </div>
                    </div>
                </ng-container>
            </form>
        </div>
    </div>
</div>