<div class="ml-5">
    <div class="row">
        <div class="col m-3">
            <mat-label>{{acao}} estoque</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div *ngIf="login.perfil == 1" class="row">
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Estabelecimento</mat-label>
                            <mat-select [disabled]="estoque.id" name="estabelecimento"
                                [(ngModel)]="estoque.estabelecimentoId" (selectionChange)="onChangeEstab()">
                                <mat-option *ngFor="let e of estabelecimentos" [value]="e.id">{{e.nome}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <mat-form-field>
                            <mat-label>Produto</mat-label>
                            <mat-select name="produto" [(ngModel)]="estoque.produtoId">
                                <mat-option *ngFor="let p of produtos" [value]="p.id">
                                    {{p.nome}}, {{p.categoria}}, {{p.subcategoria}},
                                    {{p.quantidade}}{{p.tamanho}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-label>Quantidade</mat-label>
                            <input type="number" matInput placeholder="Quantidade" name="quantidade"
                                [(ngModel)]="estoque.quantidade">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <button type="submit" mat-raised-button>{{acao}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>